<!-- <nav>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
    <mat-menu #aboveMenu="matMenu" yPosition="below">
        <mat-icon>voicemail</mat-icon>
        <button mat-menu-item>Item 1</button>
        <mat-icon>notifications_off</mat-icon>
        <button mat-menu-item>Item 2</button>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <mat-icon>notifications_off</mat-icon>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
  <mat-icon>home</mat-icon>
</nav> -->

<section>
    <mat-toolbar color="">
        <mat-toolbar-row>
            <div>
                <span>Terapia Intensiva S.A.S</span>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <div>
                <img src="assets/images/logo.jpg" alt="logo de Terapia Intensiva">
            </div>
        </mat-toolbar-row>

    </mat-toolbar>

</section>